

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: #2e1757; */
    color: #fff;
    padding: 1em;
    text-align: center;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 2rem;
    max-width: 900px;
    background-color: #f9f9f9;
    /* page background */
    color: #333;
    /* paragraph text color */
}

h1,
h2 {
    color: #15054a;
    /* primary accent for headings */
}

h3 {
    color: #004466;
    /* secondary accent for subheadings */
}

ul {
    list-style-type: disc;
    margin-left: 2rem;
}

p {
    margin-bottom: 1rem;
}

.logo {
    width: 120px;
    display: block;
    margin: 0.5rem 0 1rem;
}

.primary-color {
    color: #15054a;
    font-weight: bold;
}

.secondary-color {
    color: #004466;
    font-weight: bold;
}

.section {
    margin-bottom: 2rem;
}

footer {
    background: #15054a;
    text-align: center;
    color: #c4d82c;
}

#currentyear {
    background-color: transparent;
    display: inline;
    color: rgb(133, 126, 126);
    padding: 0;
}

#lastModified {
    background-color: transparent;
    display: inline;
    color: #8c954b;
    padding: 0;
}