:root {
    /* --primary-color: #032103;
    --secondary-color: #3d1d02;
    --accent1-color: #264653; */
    --accent2-color: #e9c46a;
    /* --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif; */
}


header,main, footer {
    max-width: 840px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

header{
    display: block;
}



h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}


span{
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    background-color: var(--accent2-color);
}

nav {
    background-color: steelblue;
    margin: 0 auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}


nav a:hover {
    text-decoration: overline;
}

.active {
    color: yellow;
}

@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 0 auto;      
    }
}

main {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

#currentyear {
    display: inline;
}