:root {
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
}

header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    gap: 20px;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;

}

span, .course-title {
    background-color: var(--accent1-color);
    color: white;
    text-align: center;
    padding: 1.4rem;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    font-style: italic;
}


nav {
    background-color: rgb(170, 216, 165);
    margin: 0;
    /* max-width: 800px; */
    padding: 0rem;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: overline;
    color: aquamarine;
}

.active {
    color: yellow;
}

@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 0 auto;
    }
}

.tasks {
    list-style-position: inside;
    padding-left: 0;
    text-align: left;
    margin-top: 130px;
}

li {
    margin-left: 10px;
}

main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 10px;
    
   
}

.cards {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 1rem;
    align-items: start;

}


.center-text {
    text-align: center;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.my-info {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 800px;
    gap: 1rem;
}

.about-me {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px white;
    border: 1px solid #ddd;
    
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

 .me {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-size: 15px;
    text-align: left;
    color: #53264e;
}

.drc {
    font-weight: 400;
    font-size: 20px;
    color: rgb(26, 2, 2);
    align-items: center;
}

 .my-country {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    font-size: 15px;
    text-align: left;
    color: #53264e;
}
.carrier {
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 0 5px white;
        border: 1px solid #ddd;

    }



h2 {
    background-color:rgb(22, 22, 67) ;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--accent1-color);
    border: 1px solid #ddd;
    text-align: center;
    font-weight: 400;
    font-size: medium;
    padding: 15px;
}


footer {
    background-color: var(--accent1-color);
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

#currentyear {
    background-color: transparent;
    display: inline;
    color: white;
    padding: 0;
}

#lastModified {
    background-color: transparent;
    display: inline;
    color: rgb(153, 172, 42);
    padding: 0;
}