* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

header{
    display: block;
}



h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    background-color: #ddd;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    font-size: 2rem;
    text-align: center;
}

nav {
    background-color: #36454f;
    margin: 0 auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: overline;
}

.active {
    color: yellow;
}

@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 0 auto;      
    }
}

main {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}