:root {
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
}

header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    gap: 20px;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;

}

span, .course-title {
    background-color: var(--accent1-color);
    color: white;
    text-align: center;
    padding: 1.4rem;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
    font-style: italic;
}


nav {
    background-color: rgb(30, 22, 43);
    margin: 0;
    /* max-width: 800px; */
    padding: 0rem;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: overline;
    color: aquamarine;
}

.active {
    color: yellow;
}

@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 0 auto;
    }
}

main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.card {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: center;
    padding: 1rem;
   
}

.cards {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: center;
    padding: 1rem;

}


.card img {
    max-width: 100%;
    height: auto;
}

.my-info {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 800px;
    gap: 1rem;
}

.about-me {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px white;
    border: 1px solid #ddd;
    
}





h2 {
    background-color:rgb(22, 22, 67) ;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--accent1-color);
    border: 1px solid #ddd;
    text-align: center;
    font-weight: 400;
    font-size: medium;
    padding: 15px;
}


footer {
    background-color: var(--accent1-color);
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

#currentyear {
    display: inline;
    background-color: white;
    color: var(--accent1-color);
}