body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #16092c;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav a {
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    border: 1px solid #c4d82c;
    color: #6a792e;
}

li {
    margin-left: 5px;
}

.active {
    color: yellow;
}

main {
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}

h1 {
    text-align: center;
    font-size: 40px;
}

p {
    font-size: small;
}

.highlight {
    color: rgb(62, 26, 32);
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(131, 212, 185);
    padding: 10px;
    text-align: center;
}

section img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.res-grid section:hover {
    box-shadow: 0 0 50px #333;
    border: 1px solid blue;
}

footer {
    background: #16092c;
    text-align: center;
    color: #c4d82c;
}

#currentyear,
#lastModified {
    display: inline;
    padding: 0;
}

#currentyear {
    color: rgb(133, 126, 126);
}

#lastModified {
    color: #8c954b;
}

