body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2e1757;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex: 1;

}

.nav-list button {
    width: 90px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 1rem;
    color: aliceblue;
}

nav .active {
    background-color: #efac3e;
    color: #000;
    font-weight: 600;
}


.nav-list :hover {
    border: 1px solid #e34eaa;
    color: #6a792e;
}

li {
    margin-left: 5px;
}

.active {
    color: yellow;
}

main {
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}

h1 {
    text-align: center;
    font-size: 40px;
}

p {
    font-size: small;
}

.highlight {
    color: rgb(62, 26, 32);
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(131, 212, 185);
    padding: 10px;
    text-align: center;
}

section img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.res-grid section:hover {
    box-shadow: 0 0 50px #333;
    border: 1px solid blue;
}

footer {
    background: #16092c;
    text-align: center;
    color: #c4d82c;
}

#currentyear,
#lastModified {
    display: inline;
    padding: 0;
}

#currentyear {
    color: rgb(133, 126, 126);
}

#lastModified {
    color: #8c954b;
}

