    
    @media (min-width: 640px) {
        nav ul {
            display: flex;
        }

        nav ul li {
            flex: 1 1 100%;
        }
    }

     @media (min-width: 640px) {
        .images {
             display: grid;
             grid-template-columns: 1fr 1fr 1fr;
         }
    
         .images {
             grid-column: 1 1 100%;
        }
    }

        /* @media (min-width: 640px) {
            nav ul {
                display: flex;
            }
    
            nav ul li {
                flex: 1 0 auto;
            }
        } */