body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0 auto;
    max-width: 800px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #16092c;
    color: #fff;
    padding: 1em;
    text-align: center;
}


nav ul {
    list-style-type: none;
}

nav a {
    display: flex;
    color: #fff;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    align-items: flex-end;
}

nav a:hover {
    border: 1px solid #c4d82c;
    color: #6a792e;
}


li {
    margin-left: 5px;
   
}

.active {
    color: yellow;
}

main {
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}

h1 {
display: flex;
flex-direction: column;
text-align: center;
font-size: 40px;

}

figure {
    margin: 10px;
}

figure img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.images :hover {
        box-shadow: 0 0 50px #333;
        border: solid blue;
        color: #6a792e;
        
    }


figcaption {
    font-size: 14px;
    text-align: center;
}

footer {
    background: #16092c;
    text-align: center;
    color: #c4d82c;
}

#currentyear {
    background-color: transparent;
    display: inline;
    color: rgb(133, 126, 126);
    padding: 0;
}

#lastModified {
    background-color: transparent;
    display: inline;
    color: #8c954b;
    padding: 0;
}


